<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - .employable</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar sidenav" id="mySideNav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @Html.ActionLink("Home", "Index", "Home")

        @Html.ActionLink("City Match", "Details", "Addresses")
        @Html.Partial("_LoginPartial")

    </div>


    <div class="body-content">
        @RenderBody()
        <hr />
            <footer style="padding: 4vh">
                <h1>Want to Learn More?</h1>
                    @Html.ActionLink("About", "About", "Home")
                    <br />
                    @Html.ActionLink("Contact", "Contact", "Home")


                                <center>
                    <p style="margin-left: 2vh;">&copy; @DateTime.Now.Year - dotemployable.com</p>
                </center>
            </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
function openNav() {
    document.getElementById("mySideNav").style.width = "10vw";

}
            function closeNav() {
                document.getElementById("mySideNav").style.width = "0";
            }
    </script>
</body>
</html>
