
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - .employable</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">  
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

         @Scripts.Render("~/bundles/modernizr")

</head>
<body style="margin-left: 7vw;">
    <div class="navbar sidenav" id="mySideNav" style="width: 10vw;">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("City Match", "Details", "Addresses")

        @Html.Partial("_LoginPartial")

    </div>


    <div class="body-content" style="margin-top: 6vw; margin-left: 4vw;">
        @RenderBody()
        <hr />
        <footer style="padding: 4vh">
            <h1>Want to Learn More?</h1>
            @Html.ActionLink("About", "About", "Home")
            <br />
            @Html.ActionLink("Contact", "Contact", "Home")


            <center>
                <p style="margin-left: 2vh;">&copy; @DateTime.Now.Year - dotemployable.com</p>
            </center>
        </footer>
</div>

   @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>