@model IEnumerable<EmployableApp.Models.Job>

@{
    ViewBag.Title = "Index";
}
<h2>Your Saved Jobs</h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal">
      


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Favorite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppliedFor)
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <a href="@Model.ToList()[i].Posting_Link">@Html.DisplayFor(model => model.ToList()[i].Title)</a>
                       @Html.HiddenFor(model => model.ToList()[i].Title)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.ToList()[i].CompanyName)
                        @Html.DisplayFor(model => model.ToList()[i].CompanyName)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.ToList()[i].JobId)
                        @Html.CheckBoxFor(model => model.ToList()[i].Favorite)
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.ToList()[i].JobId)
                        @Html.CheckBoxFor(model => model.ToList()[i].AppliedFor)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = Model.ToList()[i].JobId })
                    </td>
                    <td>
                        @Html.ActionLink("View City", "MakeCity", new { id = Model.ToList()[i].JobId })
                    </td>
                    <td>
                    @Html.ActionLink("Route To Interview", "MakeRoute", new { id = Model.ToList()[i].JobId })
                        </td>
                </tr>
            }

        </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-default" />
                </div>
            </div>
            </div>
}


