@model EmployableApp.Models.Resume

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resume</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExperienceOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExperienceOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExperienceTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExperienceTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobExperienceThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobExperienceThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.College)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.College)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherSchooling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherSchooling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceThree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResumeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
