@model IEnumerable<EmployableApp.Models.Resume>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobExperienceOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobExperienceTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobExperienceThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.College)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherSchooling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceThree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobExperienceOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobExperienceTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobExperienceThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighSchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.College)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherSchooling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceThree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResumeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResumeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResumeId })
        </td>
    </tr>
}

</table>
